<div id="header">
    <div id="connect">
	{{#if session.login}}
	Utilisateur : <strong>{{session.login}}</strong><br/><a href="/deconnect">Déconnexion</a>
	{{else}}
	Non connecté<br /><a href="/connect">Connexion</a>
	{{/if}}
    </div>
    <div id="entete">
	<div id="logo">
	    <img src="/image/smile.jpg" id= "imLogo" alt="Logo bêtisier IUT" title="Logo bêtisier IUT Limousin" />
	</div>



	<div id="titre"> Le bêtisier de l'IUT.<br />Partagez les meilleures perles !!! </div>
    </div>
</div>
