<div id="header">
		<div id="connect">

						Utilisateur : <b>Bob  </b><a href="/deconnect">Déconnexion</a>		</div>	
					<div id="entete">
					<div id="logo">
						<img src="image/smile.jpg" id= "imLogo" alt="Logo bêtisier IUT" title="Logo bêtisier IUT Limousin" />
					</div>
			
		
			
			<div id="titre"> Le bêtisier de l'IUT.<br />Partagez les meilleures perles !!! </div>
		</div>
</div>		


