<!--   Affichage du menu de l'application  -->
<!--   Contient principalement du HTML  -->
<!--   M A I S   aussi du code handlebars (tests, affichages)  -->



<div id="corps">
	<div id="menu">
		<div id="menuInt">
		
		<p><a href="/"><img class="menuImage" src="./image/accueil.gif" alt="Accueil"/>Accueil</a></p>
		<p><img class="menuImage" src="./image/personne.png" alt="Personne"/>Personne</p>
		<ul>		
			<li><a href="/listerPersonne">Lister</a></li>
			<li><a href="/ajouterPersonne">Ajouter</a></li> 
		</ul>
		
		<p><img class="menuImage" src="/image/citation.gif" alt="Citation"/>Citation</p>
		<ul>				
			<li><a href="/listerCitation">Lister</a></li>
			<li><a href="/rechercherCitation">Rechercher</a></li>
			<li><a href="/ajouterCitation">Ajouter</a></li>	
		</ul>
		<p><img class="menuImage" src="/image/ville.png"  alt="Ville"/>Ville</p>
		<ul>
			<li><a href="/listerVille">Lister</a></li>
				<li><a href="/ajouterVille">Ajouter</a></li>
				<li><a href="/modifierVille">Modifier</a></li>
		</ul>
	</div>
</div>

<div id="texte">

