{{> enTete}}
{{> menu}}
<h1>Ajouter une ville</h1>
<form method="post">
  <label name="vil_nom">Nom : </label>
  <input type="text" name="vil_nom">
  <br>
  <input type="submit" name="valider" value="Valider">
</form>
