{{> enTete}}
{{> menu}}
{{#if captchaOk}}
  {{#if connexionOk}}
  <p><img src="/image/valid.png" alt="Valide!" >   Merci, vous êtes connecté {{login}}</p>
  {{else}}
    <p><img src="/image/erreur.png" alt="invalide!" >   Erreur login / mot de passe</p>
  {{/if}}
{{else}}
  <p><img src="/image/erreur.png" alt="Invalide!" >   Captcha invalide </p>
{{/if}}
