{{> enTete}}
{{> menu}}
<h1>Modifiez votre note</h1>
<form method="post">
  <label name="vot_valeur">Note : </label>
  <input type="text" name="vot_valeur">
  <br>
  <input type="submit" name="valider" value="Valider">
</form>
